Repository 3DHubs/dbt-core-network, changes with the labels that .github/labeler.yml gives for each.
All labels: macro, test, analytics, seed, config, documentation

Tolerances + Line Items Small Tidying (#259)
  models/data_lake/int_service_supply/line_items.sql
  models/reporting/fact_line_items.sql
  models/reporting/orders/agg_orders_line_items.sql
  models/reporting/orders/fact_orders.sql
  models/reporting/orders/stg_fact_orders.sql
Labels: analytics

New Field for MEs (#260)
  models/reporting/fact_line_items.sql
Labels: analytics

Ace 443 fix line item rounding (#261)
  models/reporting/fact_line_items.sql
Labels: analytics

Removing max_part_size (#262)
  models/data_lake/int_service_supply/processes.sql
Labels: none

Ace 875 fact sales orders table (#263)
  models/reporting/finance/fact_contribution_margin.sql
  models/reporting/finance/fact_cost_of_goods_sold.sql
  models/reporting/finance/fact_invoices.sql
  models/reporting/finance/fact_purchase_orders.sql
  models/reporting/finance/fact_recognized_revenue.sql
  models/reporting/finance/fact_sales_orders.sql
Labels: analytics

Field directly from CNC Orders (#266)
  models/data_lake/int_service_supply/auctions_rda.sql
  models/reporting/orders/agg_orders_rda.sql
  models/reporting/orders/stg_fact_orders.sql
Labels: analytics

Update sales targets (#264)
  data/seed_sales_targets.csv
  models/protolabs/pl_fact_orders.sql
  models/reporting/miscellaneous/fact_sales_target.sql
Labels: analytics, seed

Ace 876 create fact billing (#267)
  models/data_lake/int_service_supply/cnc_orders.sql
  models/reporting/finance/fact_billing.sql
  models/reporting/orders/fact_orders.sql
  models/reporting/orders/stg_fact_orders.sql
  models/schema.yml
Labels: analytics

Market update (#269)
  models/data_lake/int_service_supply/countries.sql
  models/reporting/advertising/agg_advertising_spend_daily.sql
Labels: analytics

Ace 874 adding fact invoices looker (#268)
  models/reporting/finance/fact_invoices.sql
  models/reporting/finance/fact_sales_orders.sql
  tests/test_cm1_daily_amount.sql
Labels: analytics

Macro Factors Update (#271)
  data/macro_factors.csv
Labels: seed

Fix a wrong value (#272)
  data/macro_factors.csv
Labels: seed

New Hubs Teams invitation fields (#273)
  models/reporting/contacts/dim_contacts.sql
  models/reporting/contacts/stg_contacts_teams.sql
  models/reporting/contacts/stg_dim_contacts.sql
  models/schema.yml
Labels: analytics

Advertising data optimisations (#274)
  models/external/google_ads/google_ads_click_performance_report.sql
  models/reporting/contacts/stg_contacts_advertising_data.sql
Labels: analytics

ACE 868 Amount Edits (WIP) (#265)
  models/data_lake/int_service_supply/auctions_rda.sql
  models/protolabs/pl_fact_orders.sql
  models/reporting/fact_discounts.sql
  models/reporting/fact_line_items.sql
  models/reporting/finance/fact_cost_of_goods_sold.sql
  models/reporting/finance/fact_invoices.sql
  models/reporting/finance/fact_purchase_orders.sql
  models/reporting/orders/agg_line_items.sql
  models/reporting/orders/agg_orders.sql
  models/reporting/orders/agg_orders_line_items.sql
  models/reporting/orders/fact_orders.sql
  models/reporting/orders/stg_fact_orders.sql
  models/reporting/orders/stg_fact_reorders.sql
  models/reporting/orders/stg_orders_documents.sql
  models/reporting/sourcing/fact_rda_behaviour.sql
  models/reporting/sourcing/fact_rfq_behaviour.sql
Labels: analytics

Winning Bid Margin Loss (#276)
  models/reporting/orders/agg_orders_rda.sql
  models/reporting/orders/fact_orders.sql
  models/reporting/orders/stg_fact_orders.sql
  models/reporting/sourcing/fact_rda_behaviour.sql
Labels: analytics

Exchange rate changes (#277)
  models/reporting/fact_line_items.sql
  models/reporting/orders/stg_orders_documents.sql
Labels: analytics

Ace 874 adding fact invoices looker (#278)
  models/reporting/finance/fact_contribution_margin.sql
  models/reporting/finance/fact_cost_of_goods_sold.sql
  models/reporting/finance/fact_invoices.sql
  models/reporting/finance/fact_purchase_orders.sql
  models/reporting/finance/fact_recognized_revenue.sql
Labels: analytics

Ace 874 adding fact invoices looker (#279)
  models/netsuite/netsuite_invoices.sql
  models/reporting/finance/fact_contribution_margin.sql
  models/reporting/finance/fact_invoices.sql
  models/reporting/orders/stg_orders_finance.sql
Labels: analytics

Ace 874 adding fact invoices looker (#281)
  models/reporting/orders/stg_orders_finance.sql
Labels: analytics

Added services level classification and added it to supplier capabilities (#282)
  data/seed_supplier_business_classification.csv
  dbt_project.yml
  models/reporting/suppliers/dim_supplier_capabilities.sql
Labels: analytics, seed

very quick fix to increase performance of fact_line_items (#275)
  models/data_lake/int_service_supply/line_items.sql
  models/data_lake/int_service_supply/supply_documents.sql
  models/data_lake/int_service_supply/supply_orders.sql
  models/reporting/fact_line_items.sql
  models/reporting/orders/agg_line_items.sql
Labels: analytics

Removal of ship by date from auction model and subsequent models (#283)
  models/data_lake/int_service_supply/auctions_rda.sql
  models/data_lake/int_service_supply/auctions_rfq.sql
  models/reporting/sourcing/fact_rda_behaviour.sql
Labels: analytics

New attempt for team creation and Mql technology (#284)
  data/seed_sales_targets.csv
  models/data_lake/int_service_supply/users.sql
  models/reporting/companies/agg_contacts_company.sql
  models/reporting/companies/dim_companies.sql
  models/reporting/contacts/dim_contacts.sql
  models/reporting/contacts/stg_contacts_companies.sql
  models/reporting/contacts/stg_contacts_mqls.sql
  models/reporting/contacts/stg_contacts_teams.sql
  models/reporting/contacts/stg_dim_contacts.sql
  models/reporting/contacts/stg_hs_contacts_union_legacy.sql
  models/reporting/miscellaneous/segmentation_validation.sql
  snapshots/snap_users.sql
Labels: analytics, seed

Sales target update (#285)
  data/seed_sales_targets.csv
  snapshots/snap_users.sql
Labels: seed

Quick fixes (#288)
  dbt_project.yml
  seeds/.gitkeep
  seeds/countries_mapping.csv
  seeds/freshdesk_conversation_source.csv
  seeds/freshdesk_ticket_priority.csv
  seeds/freshdesk_ticket_scope.csv
  seeds/freshdesk_ticket_source.csv
  seeds/freshdesk_ticket_status.csv
  seeds/greenhubs_electricity.csv
  seeds/greenhubs_material.csv
  seeds/hubspot_dealstages.csv
  seeds/hubspot_engagement_dispositions.csv
  seeds/hubspot_technology_mapping.csv
  seeds/industries.csv
  seeds/macro_factors.csv
  seeds/order_status.csv
  seeds/seed_budget.csv
  seeds/seed_employees.csv
  seeds/seed_sales_targets.csv
  seeds/seed_supplier_business_classification.csv
  seeds/seo_page_groups.csv
  seeds/states.csv
Labels: none

Quick fixes (#289)
  dbt_project.yml
  seeds/freshdesk_ticket_priority.csv
  seeds/states.csv
Labels: none

Line item incremental update fix (#291)
  dbt_project.yml
  models/data_lake/int_service_supply/line_items.sql
  models/reporting/fact_line_items.sql
Labels: analytics

Youtube data & Hubspot owners (#292)
  models/hubspot/hubspot_owners.sql
  models/reporting/companies/dim_companies.sql
  models/reporting/contacts/stg_dim_contacts.sql
  models/reporting/fact_hubspot_deal_reviews.sql
  models/reporting/interactions/fact_hubspot_engagements.sql
  models/reporting/interactions/fact_interactions.sql
  models/reporting/miscellaneous/fact_sales_target.sql
  models/reporting/miscellaneous/fact_youtube.sql
  models/reporting/orders/stg_orders_hubspot.sql
  models/schema.yml
Labels: analytics

Switch to Supply Orders and Documents (#290)
  models/data_lake/int_service_supply/auctions_rda.sql
  models/data_lake/int_service_supply/auctions_rfq.sql
  models/data_lake/int_service_supply/bids.sql
  models/data_lake/int_service_supply/cnc_order_quotes.sql
  models/data_lake/int_service_supply/cnc_orders.sql
  models/data_lake/int_service_supply/purchase_orders.sql
  models/data_lake/int_service_supply/supply_documents.sql
  models/data_lake/int_service_supply/supply_orders.sql
  models/reporting/contacts/stg_contacts_mqls.sql
  models/reporting/fact_discounts.sql
  models/reporting/fact_packages.sql
  models/reporting/finance/fact_invoices.sql
  models/reporting/finance/fact_purchase_orders.sql
  models/reporting/finance/fact_sales_orders.sql
  models/reporting/interactions/fact_interactions.sql
  models/reporting/interactions/stg_fact_freshdesk_tickets.sql
  models/reporting/orders/agg_orders_rda.sql
  models/reporting/orders/agg_orders_technical_reviews.sql
  models/reporting/orders/stg_fact_orders.sql
  models/reporting/orders/stg_orders_dealstage.sql
  models/reporting/orders/stg_orders_disputes.sql
  models/reporting/orders/stg_orders_documents.sql
  models/reporting/orders/stg_orders_finance.sql
  models/reporting/orders/stg_orders_geo.sql
  models/reporting/orders/stg_orders_logistics.sql
  models/reporting/orders/stg_orders_otr.sql
  models/reporting/sourcing/fact_rda_behaviour.sql
  models/reporting/sourcing/fact_rfq_behaviour.sql
Labels: analytics

MQL tech improvement (#293)
  models/data_lake/int_service_supply/supply_documents.sql
  models/reporting/contacts/stg_contacts_mqls.sql
  models/reporting/miscellaneous/fact_youtube.sql
Labels: analytics

Update branded_materials.sql
  models/data_lake/int_service_supply/branded_materials.sql
Labels: none

Reverting Back Comment
  models/data_lake/int_service_supply/branded_materials.sql
Labels: none

Quick fixes on contact duplicate (#294)
  models/hubspot/hubspot_owners.sql
  models/reporting/contacts/stg_contacts_teams.sql
Labels: analytics

Protolabs & Marketing tables (#295)
  dbt_project.yml
  models/protolabs/pl_fact_budget.sql
  models/protolabs/pl_fact_orders.sql
  models/reporting/miscellaneous/marketing_fact_ahrefs.sql
  models/reporting/miscellaneous/marketing_fact_share_of_voice.sql
  models/reporting/miscellaneous/marketing_fact_youtube.sql
  models/schema.yml
Labels: analytics

Ace 919 dbt folder structure (#298)
  dbt_project.yml
  models/1_base/int_service_supply/branded_materials.sql
  models/1_base/int_service_supply/cnc_order_parts_inspection_attachments.sql
  models/1_base/int_service_supply/cnc_order_quote_attachments.sql
  models/1_base/int_service_supply/currencies.sql
  models/1_base/int_service_supply/dispute_issues.sql
  models/1_base/int_service_supply/disputes.sql
  models/1_base/int_service_supply/material_colors.sql
  models/1_base/int_service_supply/materials_material_finishes.sql
  models/1_base/int_service_supply/netsuite_customer_addresses.sql
  models/1_base/int_service_supply/netsuite_customers.sql
  models/1_base/int_service_supply/netsuite_sales_order.sql
  models/1_base/int_service_supply/question_groups.sql
  models/1_base/int_service_supply/question_types.sql
  models/1_base/int_service_supply/questions.sql
  models/1_base/int_service_supply/refund_reasons.sql
  models/1_base/int_service_supply/refunds.sql
  models/1_base/int_service_supply/replies.sql
  models/1_base/int_service_supply/reply_options.sql
  models/1_base/int_service_supply/shipments.sql
  models/1_base/int_service_supply/shipping_carriers.sql
  models/1_base/int_service_supply/supplier_finishes.sql
  models/1_base/int_service_supply/supplier_processes.sql
  models/1_base/int_service_supply/supplier_rfqs.sql
  models/1_base/int_service_supply/supplier_users.sql
  models/1_base/int_service_supply/suppliers_material_subsets.sql
  models/1_base/int_service_supply/transactions.sql
  models/3_staging/lineitems/agg_line_items_disputes.sql
  models/3_staging/orders/stg_orders_disputes.sql
  models/3_staging/orders/stg_orders_finance.sql
  models/3_staging/orders/stg_orders_logistics.sql
  models/3_staging/stg_dim_suppliers.sql
  models/4_reporting/fact_line_items.sql
  models/4_reporting/logistics/fact_packages.sql
  models/4_reporting/sourcing/dim_supplier_capabilities.sql
  models/4_reporting/sourcing/dim_supplier_technologies.sql
  models/4_reporting/sourcing/fact_questions.sql
  models/6_miscellaneous/weekly_refresh/r12_ordering_contacts.sql
  models/schema.yml
Labels: none

Ace 919 dbt folder structure (#299)
  models/3_staging/orders/stg_order_greenhubs.sql
Labels: none

Ace 919 dbt folder structure (#300)
  models/3_staging/orders/agg_orders_technical_reviews.sql
  models/4_reporting/sourcing/fact_hubspot_deal_reviews.sql
Labels: none

Ace 919 dbt folder structure (#301)
  dbt_project.yml
  models/4_reporting/logistics/fact_shipping_information.sql
Labels: none

Ace 919 dbt folder structure (#302)
  models/1_base/int_service_supply/team_invites.sql
  models/3_staging/contacts/stg_contacts_teams.sql
  models/3_staging/orders/agg_orders_interactions.sql
Labels: none

.github/labeler.yml:

macro:
  - macros/**/*

test:
  - test/**/*

analytics:
  - models/reporting/**/*

seed:
  - data/**/*

config:
  - '/**/*.yml'

documentation:
  - '/**/*.md'
