Repository 3DHubs/dbt-core-network, changes with the labels that .github/labeler.yml gives for each.
All labels: macro, test, analytics, seed, config, documentation

Hot fix order status (#215)
  data/order_status.csv
  models/reporting/orders/stg_fact_orders.sql
  models/reporting/orders/stg_orders_dealstage.sql
Labels: analytics, seed

ACE 703 New Contacts Pipeline (#208)
  dbt_project.yml
  models/reporting/companies/stg_companies_dimensions.sql
  models/reporting/contacts/dim_contacts.sql
  models/reporting/contacts/stg_contacts_mqls.sql
  models/reporting/contacts/stg_dim_contacts.sql
  models/reporting/contacts/stg_hs_contacts_attributed.sql
  models/reporting/contacts/stg_hs_contacts_attributed_prep.sql
  models/reporting/contacts/stg_hs_contacts_union_legacy.sql
  models/schema.yml
Labels: analytics

Bid Rejections Deletion (#217)
  models/data_lake/int_service_supply/bids.sql
  models/reporting/sourcing/fact_rda_behaviour.sql
  models/schema.yml
Labels: analytics

fixing duplicates in material_subsets (#218)
  models/data_lake/int_service_supply/material_subsets.sql
  models/data_lake/int_service_supply/material_subsets_region_settings.sql
Labels: none

Deleted the Deleted Field (#219)
  models/data_lake/int_service_supply/complaints.sql
  models/reporting/fact_complaints.sql
Labels: analytics

Fix refresh (#220)
  models/reporting/companies/dim_companies.sql
  models/reporting/contacts/dim_contacts.sql
  models/reporting/contacts/stg_dim_contacts.sql
  models/reporting/contacts/stg_hs_contacts_attributed_prep.sql
  models/reporting/contacts/stg_hs_contacts_union_legacy.sql
  models/reporting/orders/fact_orders.sql
  models/reporting/orders/stg_fact_orders.sql
  models/reporting/orders/stg_orders_hubspot.sql
  models/reporting/orders/stg_orders_logistics.sql
Labels: analytics

Naming convention (#222)
  models/reporting/companies/agg_contacts_company.sql
  models/reporting/companies/dim_companies.sql
  models/reporting/contacts/dim_contacts.sql
  models/reporting/contacts/stg_dim_contacts.sql
  models/reporting/contacts/stg_hs_contacts_attributed_prep.sql
  models/reporting/orders/fact_orders.sql
  models/reporting/orders/stg_fact_orders.sql
  models/reporting/orders/stg_orders_hubspot.sql
Labels: analytics

Smart qc last minute additional requirement (#223)
  models/reporting/fact_line_items.sql
Labels: analytics

split the cm1 test in recognized revenue and cogs (#225)
  tests/test_cm1_daily_amount.sql
Labels: none

Ace 780 bug fix discounts (#226)
  models/reporting/fact_discounts.sql
Labels: analytics

ACE 506 RDA Cleanup (#221)
  models/data_lake/int_service_supply/auctions_rda.sql
  models/data_lake/int_service_supply/bids.sql
  models/data_lake/int_service_supply/order_change_requests.sql
  models/reporting/contribution_margin/fact_purchase_orders.sql
  models/reporting/fact_line_items.sql
  models/reporting/orders/agg_orders_rda.sql
  models/reporting/orders/fact_orders.sql
  models/reporting/orders/stg_fact_orders.sql
  models/reporting/sourcing/fact_rda_behaviour.sql
  models/reporting/suppliers/dim_suppliers.sql
  models/schema.yml
Labels: analytics

add claim type and liability (#227)
  models/data_lake/int_service_supply/complaints.sql
  models/reporting/fact_complaints.sql
  models/reporting/fact_line_items.sql
Labels: analytics

Add BTYD per compamy (#228)
  models/reporting/companies/dim_companies.sql
  models/schema.yml
Labels: analytics

Companies wrong Label and Supply Order History Label (#229)
  models/reporting/companies/dim_companies.sql
  models/reporting/orders/stg_orders_disputes.sql
Labels: analytics

remove line item numbers for non parts as they dont have a line item number on the quote (#230)
  models/reporting/fact_line_items.sql
Labels: analytics

Quick update complaint field name (#231)
  models/reporting/fact_line_items.sql
Labels: analytics

Onboard Logistics CO2 Emissions Field (#232)
  models/reporting/orders/fact_orders.sql
  models/reporting/orders/stg_fact_orders.sql
  models/schema.yml
Labels: analytics

Greenhubs co2 emmissions (#233)
  data/greenhubs_electricity.csv
  data/greenhubs_material.csv
  dbt_project.yml
Labels: seed

Update in Seeds Table (#234)
  data/greenhubs_electricity.csv
  data/greenhubs_material.csv
Labels: seed

Greenhubs co2 emmissions (#235)
  models/reporting/miscellaneous/greenhubs.sql
  models/reporting/orders/fact_orders.sql
  models/reporting/orders/stg_fact_orders.sql
Labels: analytics

ACE 769 split orders (#236)
  models/data_lake/int_service_supply/cnc_order_quotes.sql
  models/reporting/orders/fact_orders.sql
  models/reporting/orders/stg_fact_orders.sql
  models/reporting/orders/stg_orders_documents.sql
Labels: analytics

Removed Intermediate Table +Added Comment (#237)
  models/data_lake/int_service_supply/order_delays.sql
  models/reporting/fact_delays.sql
Labels: analytics

Bounding Box Volume Fix (#238)
  models/reporting/miscellaneous/greenhubs.sql
Labels: analytics

update budget (#239)
  data/seed_budget.csv
  data/seed_sales_targets.csv
  dbt_project.yml
  models/data_lake/int_service_supply/line_items.sql
  models/reporting/companies/dim_companies.sql
  models/reporting/contacts/dim_contacts.sql
  models/reporting/contacts/stg_dim_contacts.sql
  models/reporting/contacts/stg_hs_contacts_attributed_prep.sql
  models/reporting/contacts/stg_hs_contacts_union_legacy.sql
  models/reporting/miscellaneous/fact_budget.sql
Labels: analytics, seed

ACE 855 discounts (#240)
  models/reporting/fact_discounts.sql
  models/reporting/orders/fact_orders.sql
  models/reporting/orders/stg_fact_orders.sql
Labels: analytics

Quick Fix in Greenhubs (#241)
  models/reporting/miscellaneous/greenhubs.sql
Labels: analytics

Limbo Auctions Flag (#242)
  models/data_lake/int_service_supply/supplier_auctions.sql
  models/reporting/sourcing/fact_rda_behaviour.sql
Labels: analytics

Quick fixes (#243)
  data/seed_sales_targets.csv
  models/reporting/miscellaneous/r12_ordering_contacts.sql
Labels: analytics, seed

Quick fixes (#244)
  data/seed_sales_targets.csv
  models/reporting/miscellaneous/fact_sales_target.sql
  models/reporting/miscellaneous/stg_hs_contact_id_null_fix.sql
  models/reporting/orders/stg_orders_hubspot.sql
Labels: analytics, seed

Quick fixes (#245)
  models/reporting/contacts/stg_contacts_companies.sql
  models/reporting/miscellaneous/stg_hs_contact_id_null_fix.sql
  models/reporting/orders/stg_orders_hubspot.sql
Labels: analytics

Quick fixes (#246)
  models/reporting/contacts/dim_contacts.sql
Labels: analytics

fixing_cross_docking_orders (#247)
  models/reporting/orders/stg_orders_logistics.sql
Labels: analytics

Quick fixes (#248)
  data/seed_budget.csv
  models/reporting/contacts/stg_dim_contacts.sql
Labels: analytics, seed

Quick fixes (#250)
  models/reporting/miscellaneous/fact_sales_target.sql
  models/reporting/orders/fact_orders.sql
  models/reporting/orders/stg_fact_orders.sql
  models/reporting/orders/stg_orders_hubspot.sql
Labels: analytics

initial setup, might change in the future (#251)
  models/reporting/miscellaneous/shipping_information.sql
  models/schema.yml
Labels: analytics

Ace 823 phase out shipping information model to dbt (#252)
  models/reporting/miscellaneous/shipping_information.sql
Labels: analytics

Sourcing Edits (#254)
  models/data_lake/int_service_supply/auctions_rda.sql
  models/data_lake/int_service_supply/bids.sql
  models/data_lake/int_service_supply/bids_bid_reasons.sql
  models/data_lake/int_service_supply/cnc_orders.sql
  models/data_lake/int_service_supply/supplier_auctions.sql
  models/data_lake/int_service_supply/technical_reviews.sql
  models/reporting/orders/agg_orders_rda.sql
  models/reporting/orders/agg_orders_rfq.sql
  models/reporting/orders/agg_orders_technical_reviews.sql
  models/reporting/orders/fact_orders.sql
  models/reporting/orders/stg_fact_orders.sql
  models/reporting/orders/stg_orders_reviews.sql
  models/reporting/sourcing/fact_rda_behaviour.sql
  models/reporting/sourcing/fact_rfq_behaviour.sql
  models/schema.yml
Labels: analytics

Label Edit on RDA Behaviour Fields (#255)
  models/reporting/sourcing/fact_rda_behaviour.sql
Labels: analytics

updating BQ (#256)
  data/seed_supplier_business_classification.csv
Labels: seed

Correct reporting lines commissions (#257)
  data/seed_sales_targets.csv
  dbt_project.yml
Labels: seed

.github/labeler.yml:

macro:
  - macros/**/*

test:
  - test/**/*

analytics:
  - models/reporting/**/*

seed:
  - data/**/*

config:
  - '/**/*.yml'

documentation:
  - '/**/*.md'
