Repository 3DHubs/dbt-core-network, changes with the labels that .github/labeler.yml gives for each.
All labels: macro, test, analytics, seed, config, documentation

.github/labeler.yml:

macro:
  - macros/**/*

test:
  - test/**/*

analytics:
  - models/reporting/**/*

seed:
  - data/**/*

config:
  - '/**/*.yml'

documentation:
  - '/**/*.md'

Removed Field Is Sales Qualified (Legacy) (#181)
  models/reporting/companies/dim_companies.sql
Labels: analytics

Minor updates (#182)
  data/seed_employees.csv
  dbt_project.yml
  models/reporting/clients/dim_clients.sql
  models/reporting/companies/agg_contacts_company.sql
  models/reporting/companies/agg_orders_companies.sql
  models/reporting/companies/dim_companies.sql
  models/reporting/companies/stg_companies_dimensions.sql
  models/reporting/contacts/stg_contacts_companies.sql
  models/reporting/seed/dim_employees.sql
Labels: analytics, seed

Discounts hot fix (#183)
  models/reporting/fact_discounts.sql
Labels: analytics

Discount only over applicable line items (#184)
  models/reporting/fact_discounts.sql
Labels: analytics

ACE 650 cross dock coordinates (#185)
  models/reporting/orders/fact_orders.sql
  models/reporting/orders/stg_fact_orders.sql
  models/reporting/orders/stg_orders_logistics.sql
Labels: analytics

Sourcing margin (#186)
  data/seed_employees.csv
  models/reporting/orders/stg_orders_documents.sql
  models/reporting/suppliers/fact_supplier_auction_interactions.sql
Labels: analytics, seed

Data Types Adjustment (#187)
  models/reporting/engagements/fact_hubspot_engagements.sql
  models/reporting/engagements/fact_interactions.sql
Labels: analytics

Complaints added (#188)
  models/data_lake/int_service_supply/complaints.sql
  models/reporting/fact_complaints.sql
  models/reporting/fact_line_items.sql
  models/reporting/orders/stg_orders_documents.sql
  models/reporting/suppliers/fact_supplier_auction_interactions.sql
  models/schema.yml
Labels: analytics

Rejection Text Deleted (#190)
  models/data_lake/int_service_supply/bids.sql
  models/reporting/suppliers/fact_supplier_auction_interactions.sql
Labels: analytics

Macrofactors Update & Miscellaneous :) (#191)
  data/macro_factors.csv
  models/reporting/miscellaneous/dim_employees.sql
Labels: analytics, seed

MP Business classification + auction rank (#192)
  data/seed_supplier_business_classification.csv
  dbt_project.yml
  models/data_lake/int_service_supply/suppliers.sql
  models/reporting/suppliers/dim_supplier_capabilities.sql
  models/reporting/suppliers/dim_suppliers.sql
  models/reporting/suppliers/fact_supplier_auction_interactions.sql
  models/reporting/suppliers/stg_dim_suppliers.sql
  models/schema.yml
Labels: analytics, seed

ACE-528 payment behaviour (#189)
  models/netsuite/netsuite_invoices.sql
  models/reporting/contribution_margin/fact_invoices.sql
  models/reporting/orders/fact_orders.sql
  models/reporting/orders/stg_fact_orders.sql
  models/reporting/orders/stg_orders_finance.sql
Labels: analytics

Replaced Underquote Field (#194)
  models/reporting/orders/agg_orders_interactions.sql
  models/reporting/orders/fact_orders.sql
  models/reporting/orders/stg_fact_orders.sql
Labels: analytics

ACE 675 Hubspot Companies Stitch (#193)
  models/reporting/companies/dim_companies.sql
  models/reporting/orders/stg_orders_hubspot.sql
  models/schema.yml
Labels: analytics

ACE 528 payment behaviour (#195)
  models/reporting/orders/fact_orders.sql
  models/reporting/orders/stg_fact_orders.sql
  models/reporting/orders/stg_orders_finance.sql
Labels: analytics

Create README.md
  models/reporting/orders/README.md
Labels: analytics

Update README.md
  models/reporting/orders/README.md
Labels: analytics

Update README.md
  models/reporting/orders/README.md
Labels: analytics

Update README.md
  models/reporting/orders/README.md
Labels: analytics

Update README.md
  models/reporting/orders/README.md
Labels: analytics

Update README.md
  models/reporting/orders/README.md
Labels: analytics

DBT upgrade (#196)
  packages.yml
Labels: none

Complaints adjustment (#197)
  models/reporting/fact_line_items.sql
Labels: analytics

Dedup line + tests (#198)
  models/reporting/fact_line_items.sql
  models/schema.yml
Labels: analytics

Trailing slash & Hubs Teams (#200)
  data/seo_page_groups.csv
  models/data_lake/int_service_supply/auctions.sql
  models/data_lake/int_service_supply/supplier_rfqs_src_auction.sql
  models/reporting/agg_google_search_console.sql
  models/reporting/companies/agg_contacts_company.sql
  models/reporting/companies/dim_companies.sql
  models/reporting/contacts/dim_contacts.sql
  models/reporting/contacts/stg_contacts_companies.sql
  models/reporting/contacts/stg_dim_contacts.sql
  models/reporting/contacts/stg_hs_contacts_attributed_prep.sql
  models/schema.yml
Labels: analytics, seed

Minor updates (#201)
  data/seo_page_groups.csv
  dbt_project.yml
Labels: seed

seo pages update (#203)
  data/seo_page_groups.csv
  models/reporting/contacts/stg_dim_contacts.sql
  models/schema.yml
Labels: analytics, seed

New Hubspot Deals Pipeline (#199)
  models/reporting/fact_hubspot_deal_reviews.sql
  models/reporting/interactions/fact_freshdesk_interactions.sql
  models/reporting/interactions/fact_freshdesk_tickets.sql
  models/reporting/interactions/fact_hubspot_engagements.sql
  models/reporting/interactions/fact_interactions.sql
  models/reporting/interactions/stg_fact_freshdesk_tickets.sql
  models/reporting/orders/stg_orders_hubspot.sql
  models/schema.yml
Labels: analytics

seo page groups refresh (#204)
  data/seo_page_groups.csv
  models/reporting/agg_google_search_console.sql
  models/reporting/contacts/stg_hs_contacts_attributed.sql
Labels: analytics, seed

Minor updates (#205)
  models/hubspot/hubspot_pages.sql
  models/schema.yml
  snapshots/snap_fact_orders_status.sql
  tests/test_cm1_daily_amount.sql
Labels: none

Fix downpayment field (#202)
  models/reporting/orders/stg_orders_finance.sql
Labels: analytics

added has_winning_bid_countered_on_lead_time (#206)
  models/reporting/orders/agg_orders_rda.sql
  models/reporting/orders/fact_orders.sql
  models/reporting/orders/stg_fact_orders.sql
Labels: analytics

adding active_po_support_ticket_id (#207)
  models/reporting/orders/fact_orders.sql
  models/reporting/orders/stg_fact_orders.sql
  models/reporting/orders/stg_orders_documents.sql
Labels: analytics

ACE 681 RFQ Refactor (#209)
  models/data_lake/int_service_supply/auctions_rda.sql
  models/data_lake/int_service_supply/auctions_rfq.sql
  models/reporting/agg_quotes_revenue.sql
  models/reporting/contribution_margin/fact_purchase_orders.sql
  models/reporting/fact_line_items.sql
  models/reporting/orders/agg_orders_rda.sql
  models/reporting/orders/fact_orders.sql
  models/reporting/orders/stg_fact_orders.sql
  models/reporting/orders/stg_orders_reviews.sql
  models/reporting/sourcing/fact_rda_behaviour.sql
  models/reporting/sourcing/fact_rfq_behaviour.sql
  models/reporting/suppliers/dim_suppliers.sql
Labels: analytics

New Hubspot Fields! (#210)
  models/reporting/orders/fact_orders.sql
  models/reporting/orders/stg_fact_orders.sql
  models/reporting/orders/stg_orders_hubspot.sql
Labels: analytics

fix bdr source (#212)
  models/reporting/orders/stg_orders_hubspot.sql
Labels: analytics

Minor updates (#211)
  models/reporting/orders/fact_orders.sql
  models/reporting/orders/stg_fact_orders.sql
  models/reporting/orders/stg_orders_hubspot.sql
  models/reporting/orders/stg_orders_reviews.sql
  snapshots/snap_dim_companies_hubspot_owner.sql
Labels: analytics

Removed Completed Filter (#213)
  models/reporting/orders/stg_orders_reviews.sql
Labels: analytics

Ace 729 add material is offered in checkout (#214)
  models/data_lake/int_service_supply/material_subsets.sql
  models/data_lake/int_service_supply/material_subsets_region_settings.sql
  models/reporting/suppliers/dim_supplier_capabilities.sql
  models/schema.yml
Labels: analytics

Fix refresh (#216)
  models/schema.yml
  tests/test_freshness_hubspot_engagements.sql
Labels: none
